<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Travel Planner</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/styles.css">

</head>

<body>
    <div id="app">
        <div class="box" id="headline">
            <h1 id="element">Travel Planner App</h1>
        </div>
        <div class="box" id="addTrip">

            <h3 id="element">My Trips:</h3>
            <div class="btnBox" id="element">
                <button id="addTripBtn" type="submit">add trip</button>
            </div>

        </div>
        <div class="box" id="content">
            <div class="destImage" id="element"></div>


            <div class="tripInfo" id="element">
                <p class="info">
                    <strong>My trip to: </strong>blah blah blah blah blah blah.........................................................
                    <br/>
                    <strong>Departing: </strong>blah blah blah blah blah blah..............................
                </p>
                <div class="saveRemoveBtns">
                    <button id="saveTripBtn" type="submit">save</button>
                    <button id="removeTripBtn" type="submit">remove</button>
                </div>
            </div>

        </div>
        <div class="box" id="navMenu">

            <nav class="menu">
                <ul class="menuList" id="element">
                    <li>
                        <a href="">Home</a>
                    </li>
                    <li>
                        <a href="">Add Lodging Info</a>
                    </li>
                    <li>
                        <a href="">Add Packing List</a>
                    </li>
                    <li>
                        <a href="">Add Notes</a>
                    </li>
                </ul>
            </nav>
            <div id="details">
                <p id="element">-------------Astala vista------------</p>
            </div>

        </div>
        <div class="box" id="summary">
            <h3>Trip Summary: </h3>
            <p><strong>My trip to: </strong>blah blah blah blah blah blah.........................................................</p>
            <p><strong>Departing: </strong>blah blah blah blah blah blah..............................</p>
            <div class="saveRemoveBtns">
                <button id="saveTripBtn" type="submit">save</button>
                <button id="removeTripBtn" type="submit">remove</button>
            </div>
        </div>

        <!-- <div class="holder zip">
            <label for="zip">Enter Zipcode here</label>
            <input type="text" id="zip" placeholder="enter zip code here">
        </div>
        <div class="holder feel">
            <label for="feelings">How are you feeling today?</label>
            <textarea class="myInput" id="feelings" placeholder="Enter your feelings here" rows="9" cols="50"></textarea>
            <button id="generate" type="submit"> Generate </button>
        </div>
        <div class="holder entry">
            <div class="title">Most Recent Entry</div>
            <div id="entryHolder">
                <label for="date">Date: </label>
                <div id="date"></div>
                <label for="temp">Temperature: </label>
                <div id="temp"></div>
                <label for="content">User Response: </label>
                <div id="content"></div>
            </div>
        </div> -->
    </div>
    <script src="app.js" type="text/javascript"></script>

</body>

</html>