<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../styles/box-styles.css">
    <link rel="stylesheet" href="../styles/element-styles.css">
    <link rel="stylesheet" href="../styles/test.css">
</head>

<body>
    <div id="app">
        <div class="box" id="headline">
            <h1>Travel Planner App</h1>
        </div>
        <div class="box" id="content">
            <div class="destImage" id="element"></div>


            <div class="tripInfo" id="element">

                <p class="info" id="col">
                    <strong>My trip to: </strong>blah blah blah blah blah blah.........................................................
                    <br/>
                    <strong>Departing: </strong>blah blah blah blah blah blah..............................
                </p>
                <div class="saveRemoveBtns" id="col">
                    <button id="saveTripBtn" type="submit">save</button>
                    <button id="removeTripBtn" type="submit">remove</button>
                </div>

            </div>

        </div>
    </div>
</body>

</html>