<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Travel Planner</title>

    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">


    <link href="../styles/styles.scss" rel="stylesheet">

</head>

<body>
    <div id="app">
        <div class="box" id="headline">
            <h1 id="element">Travel Planner</h1>
        </div>
        <div class="box" id="addTrip">

            <h3 id="element">My Trips:</h3>
            <div class="btnBox" id="element">
                <button id="addTripBtn" type="submit"><a href="#summary" id="addLink">add trip</a></button>
            </div>

        </div>
        <div class="box" id="content">

            <div class="img" id="element">
                <!-- <img class="destImage" src='//:0'> -->
                <img class="destImage" src='../images/travel11.jpg'>

            </div>
            <div class="tripInfo box" id="element">


                <table id="tripInfoTbl">
                    <tr>
                        <td>
                            <p class="title"><strong>My trip Information: </strong></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>City: </strong></p>
                        </td>

                        <td>
                            <p id="city"></p>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <p><strong>Country: </strong></p>
                        </td>
                        <td>
                            <p id="country"></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>Departing: </strong></p>
                        </td>
                        <td>
                            <p id="departing"></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>Returning: </strong></p>
                        </td>
                        <td>
                            <p id="returning"></p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <p><strong># of Bags: </strong></p>
                        </td>
                        <td>
                            <p id="luggage">---</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>Notes: </strong></p>
                        </td>
                        <td>
                            <p id="notes">---</p>
                        </td>
                    </tr>
                </table>
                <div class="saveRemoveBtns">
                    <button class="printBtn">Print</button>
                </div>

            </div>

        </div>
        <div class="box" id="navMenu">

            <nav class="menu">
                <ul class="menuList" id="element">
                    <li>
                        <a href="#headline">Home</a>
                    </li>
                    <!-- <li>
                        <a href="">About</a>
                    </li> -->
                    <li>
                        <a href="javascript:document.querySelector('#summary').scrollIntoView({ behavior: 'smooth' });">Add Trip</a>
                    </li>
                    <li>
                        <a id='bags' href="javascript:document.querySelector('#content').scrollIntoView({ behavior: 'smooth' });">Add Luggage</a>
                    </li>
                    <li>
                        <a id="noteBtn" href="javascript:document.querySelector('#content').scrollIntoView({ behavior: 'smooth' });">Add Notes</a>
                    </li>
                </ul>
            </nav>
            <div id="details">

                <div class="holder">
                    <div class="title"><strong>Recent Entry</strong></div>
                    </br>
                    <div id="entryHolder">

                        <label for="temp"><strong>Current Temperature: </strong></label>
                        <div id="temp" class='tripDetDiv'></div>
                        <label for="futureTemp"><strong>Arrival Temperature: </strong></label>
                        <div id="futureTemp" class='tripDetDiv'></div>
                        <label for="dayss"><strong>Days to Trip: </strong></label>
                        <div id="dayss" class='tripDetDiv'></div>
                        <label for="length"><strong>Trip Length (days): </strong></label>
                        <div id="length" class='tripDetDiv'></div>
                        <label for="sDetails"><strong>Arrival Weather Details: </strong></label>
                        <div id="sDetails" class='tripDetDiv'></div>

                    </div>
                </div>
            </div>

        </div>
        <div class="box" id="summary">
            <h3>My Trip Plan:</h3>
            <table class="inputData">
                <tr>
                    <td>
                        <h4>My trip to: </h4>
                    </td>
                    <td><input id="tripInput" type="text" name="destination" value="Enter Zipcode/City" onfocus="this.value=''"></td>
                </tr>
                <tr>
                    <td>
                        <h4>Departing: </h4>
                    </td>
                    <td><input id="departingInput" type="date" name="date" placeholder="mm/dd/yyyy" value="" min="2020-07-10" max="2021-07-10"></td>
                </tr>

                <tr>
                    <td>
                        <h4>Returning: </h4>
                    </td>
                    <td><input id="returningInput" type="date" name="date" placeholder="mm/dd/yyyy" value="" min="2020-07-10" max="2021-07-10"></td>
                </tr>

            </table>

            <div class="saveRemoveBtns">
                <button id="submitTripBtn" type="submit" class="submitReset">Submit</button>
                <!-- <button id="saveTripBtn" type="submit" onclick="Client.clicked(event)" onsubmit="Client.clicked(event)">save</button> -->
                <button id="resetTripBtn" type="submit" class="submitReset">Reset</button>
            </div>
            </br>
            </br>
        </div>


    </div>

    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            })
        }
    </script>


</body>

</html>