button {
    width: 100px;
    height: 40px;
    background: #3b4a6b;
    color: #12f7d9;
    font-size: 20px;
    font-family: 'Times New Roman', sans-serif, 'Oswald';
    border: none;
    box-shadow: 2px 4px 5px #444;
    border-radius: 10px;
    margin: 10px;
}

button:hover {
    background-color: rgb(157, 189, 219);
    color: rgb(2, 2, 2);
    box-shadow: 0px 10px 20px 0px rgb(31, 30, 30);
}

button:active {
    background-color: lightslategrey;
    color: rgb(2, 2, 2);
    box-shadow: 3px 3px rgb(44, 43, 43);
}