#app {
    display: grid;
    /* border: 1px solid orange; */
    grid-auto-rows: minmax(50px, auto);
    grid-template-columns: repetat(4, 1fr);
    grid-template-areas: "hd hd hd hd" "bar bar bar bar" "cn cn cn cn" "nav . det det" "ft ft ft ft";
    /*"img img  feel feel" "ent ent ent";*/
    /* height: 100vh; */
    /* width: 100vw; */
    background: #918399;
    /* color: #58393c; */
    justify-content: center;
    /* grid-gap: 0.5em; */
    font-size: 30px;
    font-family: 'Times New Roman', sans-serif, 'Oswald';
    color: black;
}

.box {
    /* border: 1px solid rgb(250, 150, 167); */
    width: 100vw;
    padding: 10px;
    font-size: 17px;
}

#headline {
    grid-area: hd;
    /* font-size: 1.2em; */
    color: rgb(248, 233, 96);
    text-shadow: 2px 2px 10px #000000;
    font-size: 30px;
}

#addTrip {
    grid-area: bar;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    /* padding: 10px; */
    color: black;
    justify-content: space-between;
    /* padding: 20px; */
}

#content {
    background-color: #f3e8e8;
    /* overflow-x: hidden */
    grid-area: cn;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: baseline;
    /* padding: 40px;
    justify-content: space-between; */
}

.tripInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 40px;
    justify-content: space-between; */
    /* padding: 40px; */
    padding-left: 50px;
    padding-right: auto;
    /* justify-content: space-between; */
}

#navMenu {
    background-color: #f3e8e8;
}

.menu {
    grid-area: nav;
}

#details {
    grid-area: det;
    padding-left: 50px;
    padding-right: auto;
}

#summary {
    grid-area: ft;
    text-align: center;
    border: 1px solid rgb(68, 67, 67);
    background-color: rgb(190, 191, 192);
}

#tripHeadline {
    /* margin-right: auto; */
    padding-left: 20px;
}

.btnBox {
    padding-right: 20px;
}

.destImage {
    background-image: url('../images/3.png');
    border: 1px solid black;
    background-size: cover;
    border-radius: 5%;
    width: 300px;
    height: 200px;
    margin: 5px;
}


/* .saveRemoveBtns {
    float: right;
} */

#navMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    flex-wrap: wrap;
    /* gap: 100px; */
}

#element {
    padding: 10px;
    margin: 20px;
}


/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */


/* Reset style for HTML element on active to have no border*/

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}