@import "grid-box-styles.css";
@import "button-styles.css";
@import "placeholder.css";
body {
    background: #f3e8e8;
    font-family: 'Times New Roman', sans-serif, -apple-system, BlinkMacSystemFont;
}


/* #site {
    overflow-x: hidden;
    overflow-y: hidden;
} */


/*  Basic Styling To Override Default For Basic HTML Elements */

label {
    display: block;
    font-size: 27px;
}

input {
    display: block;
    height: 60px;
    width: 320px;
    background: #4c707a;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Times New Roman', sans-serif, 'Oswald';
    border: none;
}

h1 label {
    font-size: smaller;
    color: #444;
}

textarea {
    background: #4c707a;
    color: #f5de60;
    font-size: 20px;
    font-family: 'Times New Roman', sans-serif, 'Oswald';
}

ul {
    list-style: none;
    padding-left: 0;
    font-size: 20px;
}

li {
    border: 2px solid gray;
    border-radius: 10px;
    margin: 9px;
    width: 200px;
    height: 30px;
    text-align: center;
    padding-top: 0.25em;
}

li a {
    text-decoration: none;
    color: rgb(53, 62, 71);
}

li a:hover {
    color: rgb(233, 66, 130);
}